*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-size: 16px;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: blueviolet;
}

button:hover{
    background-color: rgb(101, 33, 165);
}

.contenedor{
    max-width: 1400px;
    margin: auto;
}

.color-acento{ color:blueviolet; }

header{
    background-color: rgb(245,245,245);

}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.6em;
}

header .contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: blueviolet;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("logo.png");/*img principal*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#hero h1{
    color: white;
}

#hero button{
    font-size: 1.75em;
}
#hero1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("logo.png");/*img principal*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero1 h1{
    color: white;
}

#hero1 button{
    font-size: 1.75em;
}

#somos-meta .contenedor{
    text-align: center;
    padding: 200px 12px;
}

#nuestros-trabajos{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#nuestros-trabajos .container{
    padding: 150px 12px;
}

#nuestros-trabajos h2{
    margin-top: 0;
    font-size: 3.2em;
}

#nuestros-trabajos p{
    display: none;
}

#nuestros-trabajos .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/mantenimiento.jpg");/*img vista movil*/

}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/win11.jpg");/*img vista movil*/
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/accesorios.jpg");/*img vista movil*/

}
/*nuestros trabajos*/
#caracteristicas .contenedor{
    text-align: center;
    padding: 250px 12px;
}

#caracteristicas li{
    margin: 16px 0px;
    font-weight: bold;
}
/*Apartado de no esperes mas*/
#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30,30,30);
    color: white;
    height: 80vh;
}

#final h2{
    font-size: 9vw;
}

#final button{
    font-size: 5vw;
}

footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(255,213,200);
}

footer .contenedor{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }

    header .contenedor{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
    }

    #somos-meta .contenedor{
        display: flex;
        justify-content: space-evenly;
    }

    #somos-meta .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #somos-meta h2{
        margin-top: 0px;
    }

    #somos-meta .img-contenedor{
        background-image: url("https://th.bing.com/th/id/R.7bc1402080551829fd850acfa212559b?rik=u9wsJesEYKZH1g&riu=http%3a%2f%2fwww.amatic.com.ec%2fwp-content%2fuploads%2f2017%2f04%2fmantenimiento-laptop.jpg&ehk=JTSruSVjfx%2bSbCNfrTUJIVxrBI8HfcZIG6ZE0hEjBXY%3d&risl=&pid=ImgRaw&r=0");/*que es supportmeta*/
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px; 
    }

    #nuestros-trabajos .programas{
        display: flex;
        justify-content: center;
    }

    #nuestros-trabajos p{
        display: block;
        margin-bottom: 30px;
    }

    #nuestros-trabajos h2{
        font-size: 4em;
    }

    #nuestros-trabajos h3{
        margin-top: 0;
    }

    #nuestros-trabajos .carta{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    .carta:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("img/mantenimiento.jpg");/*img para escritorio*/

    }

    .carta:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("https://tecnowindows.com/wp-content/uploads/2019/09/sistemas-operativos.jpg");/*img para escritorio*/
    }

    .carta:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("https://ithardware.mx/wp-content/uploads/2019/11/Computer-Accessories.jpg");/*img para escritorio*/

    }

    #caracteristicas{
        background-image: url("https://fundacioncarlosslim.org/wp-content/uploads/2018/06/curso-academica-mantenimiento-de-equipo-de-computo-basico-2018-2.jpg");
        background-repeat: no-repeat;
        background-size: 500px 400px;
        background-position: calc(100vw - 500px) 120px;
    }

    #caracteristicas .contenedor{
        text-align: initial;
    }

    #caracteristicas ul{
        margin-left: 100px;
    }

    #final h2{
        font-size: 5em;
    }

    #final button{
        font-size: 2em;
    }

    footer .contenedor{
        background-image: url(https://www.bbva.com/wp-content/uploads/2018/02/redes-mundo-digital-conexiones-internet-datos-BBVA-1024x431.jpg?theia_smart_thumbnails_file_version=2);
        /*justify-content: flex-end;*/
    }
}

@media (min-width: 1200px) {
    #caracteristicas{
        background-position-x: calc(100vw - 800px);
    }
} 
body::-webkit-scrollbar {
  width: 12px;             
}

body::-webkit-scrollbar-track {
  background: white;    
}

body::-webkit-scrollbar-thumb {
  background-color: purple;    
  border-radius: 20px;       
  border: 3px solid royalblue;
}

/*barra de redes sociales*/

.social-bar{
    position: fixed;
    right: 0;
    top: 35%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
}
.icon{
    color: white;
    text-decoration: none;
    padding: .7rem;
    display: all .5%;
}
.icon-facebook2{
    background: #2E406E;
    border-radius: 1rem 0 0 0;
}
.icon-twitter{
    background-color: #339DC5;
}
.icon-telegram{
    background-color: #8B0000;
}
.icon-instagram{
    background-color: #9400D3;
}
.icon-whatsapp{
    background-color: #008000;
}
.icon:first-child{
    border-radius: 1rem 0 0 0;
}
.icon:last-child{
    border-radius: 0 0 0 1rem;
}
.icon:hover{
    padding-right: 3rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 .5rem rgb(0, 0, 0, 0.42);
}
